body {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;

    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

/* LEFT PANEL */
/* ********************************************** */

.leftpanel {
    position: fixed;
    left: 0;
    height: 100%; 
    width: 20%;
    background-color: white;

    display: flex;
    flex-direction: column;   
    justify-content: center;
}

.groups {
    height: 6%; 
    width: 80%;

    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: flex-start;

    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

    .groups div {
        margin-left: 41px;
    }

    #n {
        color: black;
    }

.buttonbox {
    height: 50%;
    width: 100%; 
    left: 100px;
    top: 103px;

    font-size: 30px;
    font-weight: bold;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .buttonbox button {
        margin-top: -5px;
        height: 50px;
        width: 70%;
        padding: 9px;
        border: 5px solid black;
        background-color: white;
        text-align: center;

        font-family: 'DM Sans', sans-serif;
        font-weight: bold;
        font-size: 15px;
    }

        .buttonbox button:hover, button:focus {
            color: red;
        }

        #btn6, #btn7 {
            background-color: black;
            color: white;
        }

/* CENTER PANEL */
/* ********************************************** */

.centerpanel { 
    position: fixed;
    margin-left: 20%;
    height: 100%; 
    width: 50%;

    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
}

.alignlabs {
        height: 10%;
        width: 100%;
        margin-bottom: 5px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 5px solid red;
    }

    .xlabs {
        height: 100%;
        width: 82%;

        font-size: 30px;
        font-weight: bold;
        color: black;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .xlabs div {
            height: 100%;
            width: 14.2857142857%;

            border-left: 2px solid red;
            text-align: center;
        }

            #slab {
                border-right: 2px solid red;
            }

.chart {
    display: block;
    margin: auto;
    height: 78%; 
    width: 100%;
    background-color: white;
}

.midline {
    position: absolute;
    bottom: 0;
    height: 50.5%;
    width: 90%;
    border-top: 1px solid black;
}

.annotations {
    bottom:0;
    height: 12%;
    width: 100%;
    border-top: 5px solid red;
}


/* SLIM PANEL */
/* ********************************************** */

.slimpanel {
    position: fixed;
    margin-left: 70%;
    height: 100%;
    width: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.legend {
    height: 30%; 
    width: 60%;

    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    align-items: center;

    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: red;
}

    #zero {
        font-size: 15px;
        color: black;
    }

/* RIGHT PANEL */
/* ********************************************** */

.rightpanel {
    position: fixed;
    right: 0;
    height: 100%;
    width: 20%;
    background-color: black;

    border: 5px solid red;

    display: flex;
    flex-direction: column;   
    justify-content: flex-start;
}



.abbr {
    height: 50%;
    width: 100%;
    font-size: 15px;
    font-weight: regular;
    color: red;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

