body {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;

    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

/* LEFT PANEL */
/* ********************************************** */

.leftpanel {
    position: fixed;
    left: 0;
    height: 100%; 
    width: 20%;
    background-color: white;

    border: 5px solid red;

    display: flex;
    flex-direction: column;   
    justify-content: flex-start;
}

.lvspace1 {
    height: 8%;
    width: 100%;
}

.buttonbox {
    height: 92%;
    width: 100%; 
    left: 100px;
    top: 103px;

    font-size: 30px;
    font-weight: bold;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .buttonbox button {
        height: 50px;
        width: 70%;
        padding: 9px;
        border: 5px solid black;
        background-color: white;
        text-align: center;

        font-family: 'DM Sans', sans-serif;
        font-weight: bold;
        font-size: 15px;
    }

        #btn6 {
            color: red;
        }

/* CENTER PANEL */
/* ********************************************** */

.centerpanel { 
    position: fixed;
    margin-left: 20%;
    height: 100%; 
    width: 50%;

    border: 5px solid red;

    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
}

.alignlabs {
        height: 10%;
        width: 100%;

        border: 5px solid red;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .xlabs {
        height: 100%;
        width: 82%;

        font-size: 30px;
        font-weight: bold;
        color: black;

        border: 5px solid red;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .xlabs div {
            height: 100%;
            width: 14.2857142857%;

            border-left: 2px solid red;
            text-align: center;
        }

            #slab {
                border-right: 1px solid black;
            }

.chart {
    display: block;
    margin: auto;
    height: 65%; 
    width: 100%;
    
    /* padding-bottom: 100%; */

    /* position: absolute;
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0; */

    background-color: white;
    border: 5px solid red;
}

.rightpanel {
    position: fixed;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: white;

    border: 5px solid red;

    display: flex;
    flex-direction: column;   
    justify-content: flex-start;
}

/* RIGHT PANEL */
/* ********************************************** */

/* 

.legend {
    position: absolute; 
    margin-left: 330px;
    margin-top: -19px;
    height: 50px; 
    width: 20px;

    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;

    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: red;
}

#zero {
    color: black;
}

.abbr {
    position: absolute;
    height: 350px;
    width: 220px; 
    right: 60px;
    top: 103px;
    font-size: 15px;
    font-weight: regular;
    color: red;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.annotations {
    position: absolute;
    margin-top: 250px;
    height: 100px;
    width: 582.5px;
    border-top: 5px solid red;
} */