body {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;

    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.scaling-svg-container {
    position: relative; 
    height: 50%; 
    width: 50%;

    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
}

.chart {
    position: absolute;
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0;
    background-color: white;
    display: inline-block;
    margin: auto;
}

.chart rect {
    fill:red;
}

.xlabs {
    position: absolute;
    height: 273px;
    width: 582.5px; 
    top: 100px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    border-top: 5px solid red;
    border-bottom: 2px solid gray;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.transition-buttons {
    position: absolute;
    height: 300px;
    width: 160px; 
    left: 100px;
    top: 103px;
    font-size: 30px;
    font-weight: bold;
    color: black;

    display: flex;
    flex-direction: column;
}

.transition-buttons button {
    height: 55px;
    width: 160px;
    padding: 9px;
    border: 5px solid black;
    background-color: white;
    text-align: center;

    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.legend {
    position: absolute; 
    margin-left: 330px;
    margin-top: -19px;
    height: 50px; 
    width: 20px;

    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;

    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: red;
}

#zero {
    color: black;
}

.abbr {
    position: absolute;
    height: 350px;
    width: 220px; 
    right: 60px;
    top: 103px;
    font-size: 15px;
    font-weight: regular;
    color: red;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.annotations {
    position: absolute;
    margin-top: 250px;
    height: 100px;
    width: 582.5px;
    border-top: 5px solid red;
}